<h2>Add Recipe</h2>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div formGroupName="recipe">
    <div class="form-group">
      <label for="name">Recipe Name</label>
      <input type="text" class="form-control" id="name" formControlName="name">
      <div class="errMsg" *ngIf="!myForm.controls['recipe'].controls['name'].valid">
        Enter recipe name!!!
      </div>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description" formControlName="description">
      <div class="errMsg" *ngIf="!myForm.controls['recipe'].controls['description'].valid">
        Enter description!!!
      </div>
    </div>
    <div class="form-group">
      <label for="imagePath">Image Path</label>
      <input type="text" class="form-control" id="imagePath" formControlName="imagePath">
      <div class="errMsg" *ngIf="!myForm.controls['recipe'].controls['imagePath'].valid">
        Enter image path!!!
      </div>
    </div>
  </div>
  <div formArrayName="ingredients">
    <h3>Ingredients</h3>
    <div class="form-group" *ngFor="let ingredient of myForm.controls.ingredients.controls;let i=index" [formGroupName]="i">
      <div class="plLabelDiv"><label for="name" >Ingredient Name</label></div>
      <div class="plLabelDiv"><label for="amount">Amount</label></div>
      <br>
      <input type="text" class="form-control1" formControlName="name"><input type="text" class="form-control1" formControlName="amount">
      
      <div class="plLabelDiv" *ngIf="!myForm.controls['ingredients'].controls[i].controls.name.valid"><label for="name" class="errMsg">Ingredient Name</label></div>
      <div class="plLabelDiv" *ngIf="!myForm.controls['ingredients'].controls[i].controls.amount.valid"><label for="amount" class="errMsg">Amount</label></div>
    </div>
  </div>
  <button type="button" class="btn btn-default" (click)="onAddIngredient()">Add Inredient</button>
  <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">Submit</button>
</form>